#root {
  max-width: 920px;
  margin: 0 auto;
  text-align: center;
  border: solid rgb(255, 255, 255) 3px;
  width: 100vw;
  height: 95vh;
  border-radius: 40px;
  background-color: #242424;
}

.navBar {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
  background-color: whitesmoke;
  color: black;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: 2px 6px 6px 0px rgba(245, 245, 245, 0.503);

}

.signInOptions {
  display: flex;
  align-items: center;
  gap: 1em;
  height: 40%;
}
.signInOptions>p{
  font-weight: bold;
}

.signBtn {
  width: 7em;
  height: 30px;
}