#root {
  max-width: 720px;
  margin: 0 auto;
  text-align: center;
  border: solid rgb(255, 255, 255) 3px;
  width: 100vw;
  height: 90vh;
  border-radius: 40px;
  background-color: rgba(245, 245, 245, 0.852);
  padding: 5px;
  overflow:hidden;
}
#root::-webkit-scrollbar{
  display: none;
}

#scrollContainer {
  overflow: scroll;
  height: 100%;
}

.navBar {
  position:sticky;
  top: 2px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  align-items: center;
  background-color: whitesmoke;
  color: black;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: 2px 6px 6px 5px rgba(120, 120, 120, 0.503);
}

.title {
  font-size: xx-large;
  margin-left: 30px;
}

.signInOptions {
  display: flex;
  align-items: center;
  gap: 1em;
  height: 40%;
  margin-right: 40px;
}
.signInOptions>p{
  font-weight: bold;
}

.signBtn {
  width: 7em;
  height: 30px;
  background-color: black;
  border: none;
  border-radius: 20px;
}
.signBtn:hover{
  background-color: rgba(0, 0, 0, 0.36);
}

.sign-out {
  margin-right: 40px;
}

.getStarted-msg{
  font-size: 30px;
  color: rgb(0, 0, 0);
  height: 70px;
  font-weight: bold;
  text-shadow: rgba(0, 0, 0, 0.413) -4px 3px 5px;
  margin-top: 50px;
  margin-bottom: 10px;
}

/* ChatRoom */
.chatRoom-title{
  color: rgb(0, 0, 0);
  height: 70px;
  font-weight: bold;
  font-size: 60px;
  text-shadow: rgba(0, 0, 0, 0.413) -4px 3px 5px;
  margin-top: -10px;
  margin-bottom: 10px;
}

.messageForm {
  position:absolute;
  bottom: 60px;
  left: 20vw;
  padding-bottom: 15px;
  height: 40px;
  width: 60%;
  box-shadow: inset 0px 0px 0px 0px rgba(146, 146, 146, 0.681);
  margin-top: 0px;
}
.messageInput{
  background-color: whitesmoke;
  border-radius: 7px;
  border: none;
  box-shadow: -2px 2px 5px 2px rgba(120, 120, 120, 0.503);
  margin-right: 10px;
  height: 25px;
  width: 60%;
  padding: 5px;
  color: black;
  font-size: medium;
}
.formBtn{
  background-color: rgb(44, 81, 192);
  border-radius: 12px;
  border: none;
  box-shadow: -2px 2px 5px 2px rgba(120, 120, 120, 0.503);
  height: 35px;
  padding: 0px 10px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}
.formBtn:hover{
  background-color: rgba(111, 19, 197, 0.572);
  border-radius: 50px;
}

/* Messages */
.username{
  margin: 0 0 -15px -5px;
  color: rgba(0, 0, 0, 0.579);
  font-size: 0.7em;
  font-weight:600;
  margin-left: 5px;
}

.bubble{
  border: none;
  padding: 0px 10px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.messagesent {
  align-self: flex-end;
  margin-right: 3em;
}
.messagereceived{
  align-self: flex-start;
  margin-left: 3em;
}

.messageText {
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 20px;
}

.messageDisplay {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  margin-bottom: 180px;
}

.sent {
  background-color: rgba(29, 61, 206, 0.883);
  box-shadow: -3px 4px 4px 0px rgba(37, 67, 200, 0.646);

}
.received{
  background-color: rgba(111, 19, 197, 0.826);
  box-shadow: -3px 4px 4px 0px rgba(122, 37, 201, 0.595);

}